Dear DJ,

What a {{rad-adjective}} show!

Here is a download link to your show, {{ShowName}} on {{date}}: {{mp3 link}}.
Feel free to share this link with your friends!

~Upcoming Events at KSDT~
 *
 *
 *

 ~Message from Staff~
 {{staff message}}

~Data~
Your show featured {{percentage}}% different artists than your previous 3 shows!

Here are some generated artist recommendations based on your playlist:
 *
 *
 *

Thank you for playing song requests/new adds! :)

Your show and *this other persons' show* feature similar artists, you can catch
their show on {{show2-date}}.

Here is your listener graph:

[0m----------15m------------30m----------45m----------60m]
[5-----------10-------------2------------0------------0--]

Congrats, you were among the top 10 listened shows this week!


KSDT Robot
