
<h3>Most Recent Playlist on {{date}}</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Time</td>
            <td>Song Name</td>
            <td>Artist Name</td>
        </tr>
    </thead>
    {{#songs}}
        <tr>
            <td>{{time}}</td>
            <td>{{title}}</td>
            <td>{{artist}}</td>
        </tr>
    {{/songs}}
</table>
