<h3>Similar artists</h3>



<table class="table table-hover">
    <thead>
    <tr>
        <td>Play Count</td>
        <td>Artist Name</td>
        <td>Similar Artists</td>
    </tr>
    </thead>
{{#artists}}
    <tr>
        <td>{{count}}</td>
        <td>{{name}}</td>
        <td>{{relatedArtists}}</td>
    </tr>
{{/artists}}
</table>
