<h3>Top Played Artists</h3>

<table class="table table-hover">
	<thead>
		<tr>
			<td>Rank</td>
			<td>Play Count</td>
			<td>Artist Name</td>
		</tr>
	</thead>
	{{#artists}}
		<tr>
			<td>{{rank}}</td>
			<td>{{count}}</td>
			<td>{{name}}</td>
		</tr>
	{{/artists}}
</table>