<h4>Top Played Artists</h4>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<td>Rank</td>
			<td>Play Count</td>
			<td>Artist Name</td>
		</tr>
	</thead>
	{{#artists}}
		<tr>
			<td>{{rank}}</td>
			<td>{{count}}</td>
			<td>{{name}}</td>
		</tr>
	{{/artists}}
</table>